
	p{
		color:black;
		background-color: lightyellow;
		width: 500px;
  }

  h1{
    font-size: 20;
    color:DarkMagenta;
  }
  h2{
  	color:whitesmoke;
    font-size:10;
  }

 body {
 	background-color:Thistle;

  }


 h5{
 	color:purple;
 }